body {font-size: 20px;}

header {
  height: 160px;
  border: solid;
}

#sidebar{
  position: relative;
  width: 25%;
  height: 200px;
  background-color:  lime;
  float: right;
}

#content {
  left: 0px;
  width: 70%;
  background-color:  pink;
  overflow: visible;
  padding: 1%;
  float: left;
}

footer {
  position: sticky;
  bottom: 5px;
  clear: both;
}

#mainbar > a {
  display: none;
}

#mainbar {
  width: 70%;
  border: solid violet;
  margin: 5px auto;
}

#mainbar > ul > li{
  display: inline-block;
  list-style: none;
  line-height: 1;
  border: solid pink;
  border-radius: 10%;
  position: relative;
}

#mainbar > ul > a{
  display: none;
}

#mainbar > ul > li > a{
    color:inherit;
    text-decoration:none !important;
    font-size:24px;
    padding: 25px;
    float: left;
}

#mainbar li ul{
    position: absolute;
    list-style:none;
    text-align:center;
    width:110%;
    left:50%;
    margin-left:-90px;
    top:70px;
    font:bold 12px 'Open Sans Condensed', sans-serif;

    /* This is important for the show/hide CSS animation */
    max-height:0px;
    overflow:hidden;

    -webkit-transition:max-height 0.9s linear;
    -moz-transition:max-height 0.9s linear;
    transition:max-height 0.9s linear;
}

#mainbar li:hover ul{
    max-height:200px;
}

#mainbar li ul li{
    background-color:#313131;
}

#mainbar li ul li a{
    padding:12px;
    color:#fff !important;
    text-decoration:none !important;
    display:block;
}

#mainbar li ul li:nth-child(odd){ /* zebra stripes */
    background-color:#363636;
}

#mainbar li ul li:hover{
    background-color:#444;
}

#mainbar li ul li:first-child{
    border-radius:3px 3px 0 0;
    margin-top:25px;
    position:relative;
}

#mainbar li ul li:first-child:before{ /* the pointer tip */
    content:'';
    position:absolute;
    width:1px;
    height:1px;
    border:5px solid transparent;
    border-bottom-color:#313131;
    left:50%;
    top:-10px;
    margin-left:-5px;
}

#mainbar li ul li:last-child{
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}

#mainbar li.green{
    /* This is the color of the menu item */
    background-color:#00c08b;

    /* This is the color of the  */
    color:#127a5d;
}

#mainbar li.red{       background-color:#ea5080;color:#aa2a52;}
#mainbar li.blue{      background-color:#53bfe2;color:#2884a2;}
#mainbar li.yellow{    background-color:#f8c54d;color:#ab8426;}
#mainbar li.purple{    background-color:#df6dc2;color:#9f3c85;}


/* Media Queries */

@media screen and (max-width: 900px){
  #content {width: auto; float: none}
  #sidebar {width: auto; float: none}
  #mainbar {width: auto; float: none}
}

@media screen and (max-width: 400px){
  body {font-size: 14px}
  header {height: auto};
  #content {width: auto; float: none}
  #sidebar {display: none}

  #mainbar > a {
    display:block;
    margin: 3%;
  }

  #mainbar > ul > li{
    display:none;
  }

  #mainbar > ul:target > li{
    display:flex;
  }
  #mainbar > ul:target > a{
    display:block;
  }

  nav:target > ul > li{
    display:flex;
  }

}
